html{
    font-size: 14px;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: grey;
}

h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}

a{
    text-decoration: none;
    color: #0c0a09;
}

a:hover,a:focus{color: #79716b;}

nav img{
    height: 30px;
    padding: 4px;
    margin: 2px;
}

#banner{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

h1{
    margin: 12px 12px 0px 12px;
}

#aboutsection{
    display: flex;
    flex-direction: column;
}


#description{
    margin: 16px;
}

#team-image{
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    width: calc(100% - 35px);
    margin: 0 auto;
    display: block;
    
    
}

#job-section1{
    display: none;
}

#job-section2{
    display: block;
    padding-left: 20px;
}

.job-list{
    padding: 4px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 20px;
    background-color: #fdf2f8;
}

.job-title{
    font-weight: 600;
}

.job-detail{
    font-weight: 400;
}

#form-section{
    padding-left: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.field{
    padding-top: 12px;
}

.field label{
    font-weight: 500;
}

.field2{
    padding-top: 4px;
}

.field2 label{
    font-weight: 500;
}
#position{
    width: 95%;
}

.field input, select, textarea{
    padding: 8px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid grey;
}

.field button{
    border-radius: 8px;
    border: 1px solid grey;
    background-color: #fdf2f8;
    font-weight: 400;
    padding: 8px;
    width:calc(100% - 20px);
}

footer{
    text-align: center;
    background-color: #f4f4f5;
    padding: 16px ;
    margin-top: 20px;
}

span{
    color: rgb(123, 121, 121);
}

#lists{
   list-style: none;
}

#lists li{
    display: block;
    padding-right: 36px;
    padding-bottom: 4px;
}

a{
    color: rgb(75, 75, 216);
}


button:focus{
    color: grey;
}


@media screen and (min-width: 576px){
    html{
        font-size: 16px;
    }

    #banner{
        height: 350px
    }

    #job-section1{
    display: block;
    }
    
    #job-table{
        width: calc(100% - 25px);
        margin: 0 auto;
        max-width: 700px;
        padding-left:10px;
        padding-right: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .job-header th{
       border: 1px solid black;
       background-color: #fce7f3;
       padding: 8px;
    }

    tr:nth-child(even){
        background-color: #fdf2f8;
    }

    .job-data td{
        border: 1px solid black;
        padding: 8px;

    }    
    #job-section2{
    display: none;
    }

    #position{
        width: 92%;
    }

    #lists li{
        display: inline;
    }
}

@media screen and (min-width: 768px){
    #banner{
        height: 400px
    }

    h1{
    margin: 20px;
    }

    #aboutsection{
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
    }

    #description{
    margin: 20px;
    width: 50%;
    padding-left: 20px;
   
    
    margin: 0 auto;
    }

   #pic{
    padding: 16px;
   }

    #team-image{
    height: 300px;
    border-radius: 12px;
    width: calc(100% - 20px); 
    }

    #job-section1{
    display: block;
    }

    #job-table{
        width: calc(100% - 25px);
        margin: 0 auto;
        max-width: 900px;
    }

    #job-section2{
    display: none;
    }

    .field button{
        padding: 9px;
        width: auto;
    }

    .field input, textarea, select{
        width: 50%;
    }

    .field textarea{
        height: 100px;
        width: 80%;
    }
    .field2{
        padding-top: 12px;
    }

    #position{
        width: 52%;
    }
    button:hover, button:focus{
        color: grey;
    }
}

@media screen and (min-width: 992px){
    #banner{
        height: 600px
    }

    h1{
    margin: 24px;
    }
}
